<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center><h1>Verification</h1></center>
    <form action="/" method="POST">
        <h2>ENTRER VOTRE PRENOM</h2>
        <textarea sytle="font-size:30px" ; name="userText" id="userText" cols="50" rows="3" ></textarea>

        <h2>ENTRER VOTRE AGE</h2>
        <textarea sytle="font-size:30px" ; name="userText" id="userText" cols="50" rows="3" ></textarea>
 
<input type="submit" value="Soummettre">
    </form>
</body>
</html>